<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 chart__container pull-left">
    <h4 class="subtitle">Bar chart</h4>
    <div id="BarChart" class="chart__item">
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 chart__container pull-left">
    <h4 class="subtitle">Donut chart</h4>
    <div id="DonutChart" class="chart__item">
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 chart__container pull-left">
    <h4 class="subtitle">Line chart</h4>
    <div id="LineChart" class="chart__item">
    </div>
</div>
