<!--Rendering contents-->
<div class="statistics_wrapper">
<f:render section="content" />
<script src="../typo3conf/ext/pits_site_statistics/Resources/Public/js/main.js"></script>
<script src="../typo3conf/ext/pits_site_statistics/Resources/Public/js/raphael-min.js"></script>
<script src="../typo3conf/ext/pits_site_statistics/Resources/Public/js/bootstrap.min.js"></script>
<script src="../typo3conf/ext/pits_site_statistics/Resources/Public/js/bootstrap-select.min.js"></script>
<script src="../typo3conf/ext/pits_site_statistics/Resources/Public/js/moment.min.js"></script>
<script src="../typo3conf/ext/pits_site_statistics/Resources/Public/js/bootstrap-datepicker.js"></script>
<script src="../typo3conf/ext/pits_site_statistics/Resources/Public/js/morris.min.js"></script>

</div>
<!--Rendering contents-->

