<f:layout name="Default" />
<f:section name="content">
    <!--partial Header-->
    <f:render partial="Header"></f:render>
    <!--partial Header-->
    <div class="container">
        <div class="default-first-view">
        </div>
        <f:if condition="{statistics.uid}">
            <f:then>
                <h4 class="page-title">Edit '{statistics.webTitle}'</h4>
            </f:then>
            <f:else>
                <h4 class="page-title">Add new analytics account</h4>
            </f:else>
        </f:if>
        <f:form action="updateSave" object="{statistics}" name="statistics" additionalAttributes="{role:'form'}" enctype="multipart/form-data">
            <f:form.validationResults for="statistics">
                <f:if condition="{validationResults.flattenedErrors}">
                    <div class="validation-wrapper alert alert-danger">
                        <ul>
                            <f:if condition="{validationResults.flattenedErrors.webTitle}">
                                <f:if condition="{validationResults.flattenedErrors.webTitle.0.code}==1383400017">
                                    <f:then>
                                        <li>{validationResults.flattenedErrors.webTitle.0.message}</li>
                                    </f:then>
                                    <f:else>
                                        <li>Account title is required!</li>
                                    </f:else>
                                </f:if>
                            </f:if>
                            <f:if condition="{validationResults.flattenedErrors.serviceAccountEmail}">
                                <f:if condition="{validationResults.flattenedErrors.serviceAccountEmail.0.code}==1221559976">
                                    <f:then>
                                        <li>Email address provided is not valid!</li>
                                    </f:then>
                                    <f:else>
                                        <li>Service Account Email is required!</li>
                                    </f:else>
                                </f:if>
                            </f:if>
                            <f:if condition="{validationResults.flattenedErrors.keyFileLocation}">
                                <f:if condition="{validationResults.flattenedErrors.keyFileLocation.0.code}==1383400016">
                                    <f:then>
                                        <li>{validationResults.flattenedErrors.keyFileLocation.0.message}</li>
                                    </f:then>
                                    <f:else>
                                        <li>Key file path is required!</li>
                                    </f:else>
                                </f:if>
                            </f:if>
                        </ul>
                    </div>
                </f:if>
            </f:form.validationResults>
            <div class="form-group col-lg-7 col-md-7 col-sm-7 col-xs-12">
                <label>Account Title</label>
                <f:form.textfield property="webTitle" class="form-control" />
            </div>
            <div class="form-group col-lg-7 col-md-7 col-sm-7 col-xs-12">
                <label>Service Account Email <i class="fa fa-question-circle custom-tooltip" aria-hidden="true" rel="tooltip-label" title="provide the Service Account Email obtained while setting the analytics service account" id=""></i></label>
                <f:form.textfield property="serviceAccountEmail" class="form-control" />
            </div>
            <div class="form-group col-lg-7 col-md-7 col-sm-7 col-xs-12">
                <label>Keyfile Path <i class="fa fa-question-circle custom-tooltip" aria-hidden="true" rel="tooltip-label" title="provide the path of p12 keyfile obtained while setting the analytics service account" id=""></i></label>
                <f:form.textfield property="keyFileLocation" class="form-control" />
            </div>
            <div class="form-group col-lg-7 col-md-7 col-sm-7 col-xs-12">
                <label>Tracking ID <i class="fa fa-question-circle custom-tooltip" aria-hidden="true" rel="tooltip-label" title="provide the property tracking id of your analytics service account.eg UA-76703401-1" id=""></i></label>
                <f:form.textfield property="propertyTrackingid" class="form-control" />
            </div>
            <div class="form-group col-lg-7 col-md-7 col-sm-7 col-xs-12">
                <label>Set as default account <i class="fa fa-question-circle custom-tooltip" aria-hidden="true" rel="tooltip-label" title="provide the path of p12 keyfile obtained while setting the analytics service account" id=""></i></label>
                <f:if condition="{statistics.uid}">
                    <f:then>
                        <f:form.checkbox property="defaultAccount" value="1" checked="{statistics.defaultAccount} == 1" />
                    </f:then>
                    <f:else>
                        <f:form.checkbox property="defaultAccount" value="1" />
                    </f:else>
                </f:if>
            </div>
            <div class="form-group col-lg-7 col-md-7 col-sm-7 col-xs-12">
                <f:if condition="{statistics.uid}">
                    <f:then>
                        <f:form.submit value="Update Account" class="btn btn-primary" />
                    </f:then>
                    <f:else>
                        <f:form.submit value="Create Account" class="btn btn-primary" />
                    </f:else>
                </f:if>
            </div>
        </f:form>
</f:section>
